*, *::before, *::after {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url("../images/wallpaper.PNG");
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	width: 100%;
	height: auto;
	background-color: #202020;
	filter: drop-shadow(-2px 0px 2px black);
}

header img {
	width: 3%;
	height: auto;
}

footer {
	width: 100%;
	height: auto;
	background-color: #202020;
	filter: drop-shadow(-2px 0px 2px black);
	color: white;
}